* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #93c5fd;
  --gray: #a0a0a0;
}

.container {
  padding-block: 0;
  grid-template-columns: 1fr 1fr;
}

.left {
  padding: 4rem 5rem;
  min-height: 100vh;
  outline: 1px solid var(--black);
  background-color: var(--black);
}

.left-title {
  padding-top: 3rem;
}

.left-subtitle {
  width: 100%;
  color: var(--white);
  padding-top: 2rem;
  padding-bottom: 3rem;
  line-height: 5.25rem;
  letter-spacing: -0.09375rem;
}

.left-description {
  color: var(--gray);
  width: 20rem;
  font-size: 1rem;
}

.right {
  padding-block: 4rem;
  min-height: 100vh;
  outline: 1px solid var(--black);
  background-color: #f5f5f5;
}

.right-content {
  width: 80%;
  margin: 0 auto;
}

.left-copyright {
  color: #6b6b6b;
  font-size: 0.75rem;
  padding-top: 4rem;
}

.right-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: -0.04688rem;
}

.right-description {
  color: #6b6b6b;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-bottom: 2rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;

  label {
    color: #4a4a4a;
    font-size: 0.875rem;
  }

  input {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: 0.667px solid rgba(17, 17, 17, 0.1);
    color: #4a4a4a;
  }

  a {
    font-size: 0.875rem;
    color: #2563eb;
  }
}

.form-input a:hover,
.form-input a:focus-visible {
  text-decoration: underline;
}

.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input:focus {
  outline: none;
  border: 0.667px solid #2563eb;
}

.register-btn,
.google-btn {
  background-color: #2563eb;
  color: var(--white);
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  font-weight: 500;
}

.register-btn:hover,
.register-btn:focus-visible {
  background-color: var(--blue-hover);
}

.google-btn:hover,
.google-btn:focus-visible {
  border: 0.667px solid #cdcdcd;
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-block: 2rem;
}

.or {
  color: #6b6b6b;
  font-size: 0.875rem;
}

.empty {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

.google-btn {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}

.right-signin {
  color: #6b6b6b;
  font-size: 0.875rem;
  text-align: center;
  margin-top: 3rem;
  font-size: 0.875rem;

  a {
    color: #2563eb;
    font-family: var(--font);
  }
}

.right-signin a:hover,
.right-signin a:focus-visible {
  text-decoration: underline;
}

.right-logo {
  display: none;
}

@media (max-width: 700px) {
  * {
    outline: none;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .left {
    display: none;
    outline: none;
  }

  .right-logo {
    display: block;
    color: #2563eb;
    font-size: 1.75rem;
  }

  .right-title {
    font-size: 1.5rem;
  }

  .right {
    outline: none;
    padding: 2rem 2rem;
    padding-bottom: 0;
  }

  .signin-container {
    padding-top: 2rem;
  }

  .right-content {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .container {
    grid-template-columns: 1fr;
  }

  .left {
    min-height: 40vh;
  }

  .right {
    outline: none;
    min-height: auto;
  }
}
